---
layout: tienda
title: Cervezas por menos de 3€
nombre: Cervezas por menos de 3€
permalink: "/tienda/cervezas_economicas.html"
jsonld: tienda
breadcrumb_title: Menos de 3€

---
{% comment %}
{# assign birras = site.birras | where_exp:"item", "item.pvp contains '2.''" #}
{% endcomment %}
<!--  Remove site.birras y deja nada mas birras-->
<!--  Remove site.birras y deja nada mas birras-->
{% for birra in site.birras %}
{% if birra.pvp contains "2." or (birra.pvp contains "1." and not birra.pvp contains "11.") %}
{% include birra_card.html el=birra %}
{% endif %}
{% endfor %}