---
layout: default
title: Cervezas
---

{% for birra in site.birras %}
{% assign ttags = birra.categoria | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<!-- nav -->
<div class="container-fluid pb-5">

  <div class="row">
    <div class="col-12">

      {% include search.html%}
    </div>
    <div class="col-12 col-md-12 col-lg-3 mb-2 seleccion-container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3 mt-2">Nuestra Selección</h5>
          {% for tag in tags %}
          <a class="card-text list-group-item list-group-item-action"
            href="#{{ tag | slugify }}">{{tag | replace: "_", " "}}</a>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <!--  -->
  <div class=" row">
    {% for tag in tags %}
    <!-- Pon esto en un include -->
    <div class="col-12 col-md-11 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h5 style="font-weight:700" class="card-title text-center mb-2">
            <span id="{{ tag | slugify }}" class="anchor"></span>{{ tag | replace: "_", " " }}
          </h5>
          <div class="your-class">
            {% for birra in site.birras %}
            {% if birra.categoria contains tag %}


            <a href="{{ birra.url }}">
              <div class="birra-carousel-item">

                <img data-lazy="{{birra.imagen}}" class="img-fluid mb-3" alt="">
                <span style="font-weight: 700;">{{ birra.nombre | capitalize | replace: "_", " " }}</span> - <small
                  class="text-muted">{{ birra.volumen }}</small>
                <hr>
                <small class="text-muted">
                  <i class="fa fa-beer"></i> {{ birra.formato }}
                </small>
                <br>
                <small class="text-muted">
                  <i class="fa fa-money"></i> {{ birra.pvp }} €
                </small>
              </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
          <p class="mt-4 text-center">
            <a href="{{site.url}}/{{tag | downcase}}" class=" btn btn-lg btn-warning">Ver todas</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- !!Pon esto en un include -->

  </div>
  <!--  -->

</div>