---
layout: default
title: Quienes Somos
nombre: Quienes Somos
example: Tiene cojones lo que noseque nose cuanto

---
<div class="container-fluid text-center bg-white pt-5 pb-3">
  <h1 class="text-center mb-2 birra-text">{{ page.nombre }}</h1>
  <!-- pon en inlcude -->
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a class="" href="/">Home</a>
  {% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
  / <span class="strong-700">{{ page.title }}</span>
  {% else %}
  / <a
    href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
  {% endif %}
  {% endfor %}
  <!-- pon en inlcude -->

</div>
<div class="container">
  <div class="col-12">
    <h1>{{page.title}}</h1>
  </div>
  <div class="col-12">
    <p>En pocas palabras, La Bodega del Lúpulo es la tienda para abrir los ojos, la mente y las papilas gustativas al
      mundo de la cerveza. Es una tienda web donde puedes elegir entre cientos de cervezas artesanales nacionales o cervezas de importación, o simplemente dejarte guiar por nuestras sugerencias. 
      Además, tenemos tienda física en Jerez de la Frontera y se hacen repartos a domicilio tanto en Jerez como en localidades cercanas.</p>
  </div>

</div>

<style>
  h1 {
    color: #E5A224;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(18px + 8 * ((100vw - 320px) / 680));
    font-family: 'Mukta', sans-serif;
  }

  p {
    max-width: 72ch;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
    font-family: 'Mukta', sans-serif;
  }
</style>