<a href="{{include.el.url}}">
  <div class="image-wrapper">
    <picture>
      <!-- <source data-srcset="https://via.placeholder.com/1000x1000.png?text=1000+x+1000" media="(min-width: 1200px)" /> -->
      <source data-srcset="{{ site.baseimageurl }}desktop/{{include.el.imagen}}" media="(min-width: 600px)" />
      <img data-src="{{ site.baseimageurl }}mobile/{{include.el.imagen}}" class="rounded lazy image p-2" />
    </picture>
  </div>
  <hr>
  <p class="text-center strong">{{ include.el.nombre }}</p>
  <p class="text-center text-warning"><strong>{{ include.el.pvp }} €</strong></p>
</a>

{% comment %}
<figure class="card card-product">
  <div class="img-wrap">
    <!-- <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> -->
    <div class="image-wrapper">
      <picture>
        <!-- <source data-srcset="https://via.placeholder.com/1000x1000.png?text=1000+x+1000" media="(min-width: 1200px)" /> -->
        <source data-srcset="{{ site.baseimageurl }}desktop/{{include.el.imagen}}" media="(min-width: 600px)" />
        <img data-src="{{ site.baseimageurl }}mobile/{{include.el.imagen}}" class="lazy image" />
      </picture>
    </div>
  </div>
  <figcaption class="info-wrap">
    <h4 class="title text-center">{{ include.el.nombre }}</h4>
    <!-- <div class="rating-wrap">
        <div class="label-rating">132 reviews</div>
        <div class="label-rating">154 orders </div>
      </div> -->
  </figcaption>
  <div class="bottom-wrap text-center p-2 mt-auto mb-0">
    <div class="price-wrap h5">
      <span class="price-new">{{ include.el.pvp }} €</span>
    </div> <!-- price-wrap.// -->
  </div> <!-- bottom-wrap.// -->
</figure>
{% endcomment%}