<div class="card">
  <a href="{{site.url}}/{{include.b.url}}">
    <div class="product-grid9">
      <div class="product-image9">
        <img srcset="{{ site.baseimageurl }}mobile/{{include.b.imagen}} 250w"
          srcset="{{ site.baseimageurl }}desktop/{{include.b.imagen}} 485w" sizes="(min-width: 760px) 50vw, 100vw"
          alt="{{include.b.nombre}}" class="pic" data-src="{{site.baseimageurl}}mobile/{{include.b.imagen}}">
      </div>
      <div class="product-content p-2">
        <!-- <ul class="rating">
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
        <li class="fa fa-star"></li>
      </ul> -->
        <span style="font-weight: 700;">{{ include.b.nombre | capitalize | replace: "_", " " }}</span>
        <br>
        <small class="text-muted">
          <i class="fa fa-bullseye"></i> {{ include.b.volumen }}
        </small>
        <br>
        <small class="text-muted">
          <i class="fa fa-beer"></i> {{ include.b.formato }}
        </small>
        <br>
        <small class="text-muted">
          <i class="fa fa-euro"></i> {{ include.b.pvp }} €
        </small>
        <hr>
        <div class="text-center mb-1">
          {% include btn_compra_birra.html b=b %}
        </div>
        <!-- <div class="price">{{ include.b.pvp }} €</div> -->
        <!-- <a class="add-to-cart" href="">VIEW PRODUCTS</a> -->
      </div>
    </div>
  </a>
</div>