<a href="{{include.el.url}}">
  <div class="foamy horizontal">
    <div class="vertical mb-3">
      <picture>
        <!-- <source data-srcset="https://via.placeholder.com/1000x1000.png?text=1000+x+1000" media="(min-width: 1200px)" /> -->
        <source data-srcset="{{ site.baseimageurl }}desktop/{{include.el.imagen}}" media="(min-width: 600px)" />
        <img data-src="{{ site.baseimageurl }}mobile/{{include.el.imagen}}" class="lazy simple-carousel-img" />
      </picture>
    </div>
  </div>
  <div class="card-content">
    <p class="text-center product-nombre mb-1">{{ include.el.nombre | truncatewords: 2 }}</p>
 <!--comentado para ocultar el precio   <p class="text-center text-white"><strong>{{ include.el.pvp }} €</strong></p> -->
  </div>
</a>

{% comment %}
<figure class="card card-product">
  <div class="img-wrap ">
    <!-- <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> -->
    <div class="image-wrapper ">
      <picture>
        <!-- <source data-srcset="https://via.placeholder.com/1000x1000.png?text=1000+x+1000" media="(min-width: 1200px)" /> -->
        <source data-srcset="{{ site.baseimageurl }}desktop/{{include.el.imagen}}" media="(min-width: 600px)" />
        <img data-src="{{ site.baseimageurl }}mobile/{{include.el.imagen}}" class="lazy image" />
      </picture>
    </div>
  </div>
  <figcaption class="info-wrap">
    <h4 class="title text-center">{{ include.el.nombre }}</h4>
    <!-- <div class="rating-wrap">
        <div class="label-rating">132 reviews</div>
        <div class="label-rating">154 orders </div>
      </div> -->
  </figcaption>
  
  <!-- comentado para ocultar el precio 
<div class="bottom-wrap text-center p-2 mt-auto mb-0">
    <div class="price-wrap h5">
      <span class="price-new">{{ include.el.pvp }} €</span>
    </div> <!-- price-wrap.// -->
<!--  </div> <!-- bottom-wrap.// --> 
</figure>
{% endcomment%}
