<section class="cervezas-polluas mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Cervezas</h2>
      </div>
      <div class="col-12">
        <div class="card-deck">
          <!-- { assign filtered_birras = site.birras | where: 'nombre', '942' } -->
          <!-- Card Cat -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rubias</h5>
              <!-- <p class="card-text">Rubias</h5> -->
              <div class="text-center">
                <a href="{{site.url}}/rubias" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div>
          <!-- Card Cat! -->


          <!-- Card Cat -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pale Ale</h5>
              <!-- <p class="card-text">Rubias</h5> -->
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div>
          <!-- Card Cat! -->

          <!-- Card Cat -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">IPA</h5>
              <!-- <p class="card-text">Rubias</h5> -->
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div>
          <!-- Card Cat! -->

          <!-- Card Cat -->
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Negras</h5>
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div> -->
          <!-- Card Cat! -->

          <!-- Card Cat -->
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Belgian Style</h5>
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div> -->
          <!-- Card Cat! -->

          <!-- Card Cat -->
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tostadas/Rojas</h5>
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div> -->
          <!-- Card Cat! -->

          <!-- Card Cat -->
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trigo</h5>
              <div class="text-center">
                <a href="#" class="btn btn-primary stretched-link">Ver Detalles</a>
              </div>
            </div>
          </div> -->
          <!-- Card Cat! -->



          <!-- { endfor } -->
        </div>
      </div>
      <div class="col-12 text-center">

        <div class="btn btn-lg btn-warning">Ver todas</div>
      </div>
    </div>

  </div>
</section>