<section class="cervezas-polluas ">
  <div class="container">
    <h2 class="display-4 mb-5">Nuestras cervezas mas polluas</h2>
    <div class="card-deck">
      {% for birra in site.birras %}
      <div class="card">
        <img class="card-img-top cerveza-thumb" src="https://i.picsum.photos/id/866/270/360.jpg" alt="Card image cap">
        <div class="card-body">
          <small class="text-muted">{{ birra.volumen }} | {{ birra.formato }} </small>
          <h5 class="card-title">{{ birra.nombre}}</h5>
          <!-- <p class="card-text">{{ birra.content }}</p> -->
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ birra.color }} - {{ birra.maltas }} - {{ birra.volumen }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>