<section id="cervezas_populares">



  <div class="container-title pl-4 mb-2">
    <img src="/assets/images/svg/beer_celebration.svg" class="section-logo" alt="">
    <h4 class="strong-700 description">Cervezas de 9% alcohol o más.</h1>
  </div>




  <div class="col-12 carousel-wrapper text-center mb-4">
    <div class="slick-1">
      
   {% assign birras = site.birras | sort: "volumen" %}

  {% for birra in birras %}
         {% if birra.volumen contains "9." %}
        <div class="slide mb-3">
              {% include birra_card_simple.html el=birra  %}
        </div>
         {% endif %}
               {% if birra.volumen contains "10." %}
        <div class="slide mb-3">
              {% include birra_card_simple.html el=birra  %}
        </div>
         {% endif %}
               {% if birra.volumen contains "11." %}
        <div class="slide mb-3">
              {% include birra_card_simple.html el=birra  %}
        </div>
         {% endif %}
      {% endfor %}
    </div>
  </div>

</section>
<hr class="w-100">
