<section id="cervezas_populares">



  <div class="container-title pl-4 mb-2">
    <img src="/assets/images/svg/beer_celebration.svg" class="section-logo" alt="">
    <h4 class="strong-700 description">Cervezas Populare s</h1>
  </div>




  <div class="col-12 carousel-wrapper text-center mb-4">
    <div class="slick-1">
      {% assign birras = site.birras %}
      {% for birra in birras limit: include.max %}
      {% if birra.volumen contains "7." %}
      <div class="slide mb-3">
            {% include birra_card_simple.html el=birra  %}
      </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</section>
<hr class="w-100">
