<section class="como-funciona pt-5 mb-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4">
        <img class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image" width="140" height="140">
        <h2>Dinos que cerveza</h2>
        <p>Una coleccion curada por Ato. Desde X hasta Y</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image" width="140" height="140">
        <h2>Dinos donde vives</h2>
        <p>Nos acercamos en un periquete, con opcion a entrega el mismo dia!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image" width="140" height="140">
        <h2>Fiesta</h2>
        <p>Agarra un vaso o jarra, y a beberrrrrr</p>
      </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-success btn-lg">Hacer un pedido</a>
      </div>
    </div>
  </div>
</section>