<section class="como-funciona pt-5">
  <div class="container pt-5">
    <div class="row text-center">
      <div class="col-lg-4">
        <img src="https://labodegadellupulo.s3.eu-west-3.amazonaws.com/svg/production.svg"
          alt="Generic placeholder image" width="140" height="140">
        <h2>Elige tu cerveza</h2>
        <p>Hemos elaborado una lista con las mejores cervezas para ti.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://labodegadellupulo.s3.eu-west-3.amazonaws.com/svg/working.svg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Dános una Direccion</h2>
        <p>Nos acercamos en un periquete, con opcion a entrega el mismo dia!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://labodegadellupulo.s3.eu-west-3.amazonaws.com/svg/beer.svg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>A Disfrutar!</h2>
        <p>A tan solo un vaso de tu preciada cerveza. Que la disfrutes</p>
      </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
      <div class="col-12 text-center mt-2 pb-5">
        <a href="{{site.url}}/birras" class="btn btn-outline-secondary btn-lg">Ver catálogo</a>
      </div>
    </div>
  </div>
</section>