<div class="container">
  <div class="row">

    <div class="col-12 text-center mt-5">
      <img src="https://i.imgur.com/32a8F8j.jpg" alt="La Bodega del Lupulo" class="logo shadow">
    </div>
    <div class="col-sm-12 pt-5 text-center">
      <div class="alert alert-warning shadow" role="alert">
        <h4 class="alert-heading text-center">Tu nueva tienda de cervezas a domicilio en Jerez de la Frontera</h4>
        <p class="text-center">Mientras tanto, si tienes alguna pregunta, puedes enviarnos un email, o descargar
          nuestro catalogo</p>
        <hr>
        <a href="mailto:info@labodegadellupulo.com" class="btn btn-warning"><i class='fa fa-envelope'></i>
          Contacto</a>
        <a href="https://labodegadellupulo.s3.eu-west-3.amazonaws.com/catalogo/Catalogo+La+Bodega+del+Lupulo.pdf"
          target="_blank" class="btn btn-success"><i class="fa fa-download"></i> Descargar Catalogo</a>
      </div>
    </div>
  </div>
</div>


<!-- Bubbles -->
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script>bubbly({
    colorStart: "#F2B739",
    colorStop: "#F2B739",
    blur: 1,
    compose: "source-over",
    bubbleFunc: () => `hsla(${Math.random() * 30}, -80%, 120%, .3)`
  });</script>