<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h4>Envíos a España y Portugal</h4>
        <p class="pr-5 text-white-50">
          Dentro de la península
        </p>
        <p><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook-square mr-1"></i></a>
          <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram mr-1"></i></a></p>
      </div>
      <div class="col-lg-3 col-xs-12 links mb-3 ">
        <h4 class="mt-lg-0 mt-sm-3">Secciones: </h4>
        <ul class="m-0 p-0">
          <li>- <a href="/tienda">Tienda</a></li>
          <li>- <a href="/quienes">Quiénes somos</a></li>
          <li>- <a href="/blog">Blog</a></li>
          <li>- <a href="/envios-y-devoluciones">Políticas de envíos y devoluciones</a></li>
          <li>- <a href="/privacidad">Politica de Privacidad / Cookies</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Nuestra Tienda, visítanos!</h4>
        <p>Calle San Cayetano, Local 2</p>
        <p>11402</p>
        <p>Jerez de la Frontera (Cádiz)</p>
<p>Horario: Lunes - Sábado: 11:00h-15:00h y 18:00h-22:00h</p>
        <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199.96521249789174!2d-6.135457771300743!3d36.68788162112671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc7bc2be5ad8b%3A0xe0fa7a772af8c7a5!2sLa%20Bodega%20del%20L%C3%BApulo!5e0!3m2!1ses!2ses!4v1590848988863!5m2!1ses!2ses" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
        <p class="m-0 p-0"><a href="tel:+34650491606" style="color:#FFFFFF ;"> <i class="fa fa-phone mr-3"></i> 650 49 16 06 </a></p>
        <p><a href="mailto:info@labodegadellupulo.com" style="color:#FFFFFF ;"><i class="fa fa-envelope-o mr-3"></i>info@labodegadellupulo.com</a></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2020. Todos los derechos reservados.</small></p>
      </div>
    </div>

  </div>
</div>
</div>
