<section id="cervezas_menos_de_tres">

  <div class="container-title pl-4 mb-2">
    <img src="/assets/images/svg/beer_having_fun.svg" class="section-logo" alt="">
    <h4 class="strong-700 description">Cervezas de menos de 6% de alcohol</h1>
  </div>
  
  <div class="col-12 carousel-wrapper text-center mb-4">
    <div class="slick-1">
       {% assign birras = site.birras | sort: "volumen" %}

  {% for birra in birras %}
         {% if birra.volumen contains "5." %}
        <div class="slide mb-3">
              {% include birra_card_simple.html el=birra  %}
        </div>
         {% endif %}
               {% if birra.volumen contains "4." %}
        <div class="slide mb-3">
              {% include birra_card_simple.html el=birra  %}
        </div>
         {% endif %}
               
      {% endfor %}
      
   
    </div>
  </div>
</section>
