<div class="modal fade cookieModal" id="cookieModal" tabindex="-1" data-backdrop="static" role="dialog"
  aria-labelledby="cookieModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="cookieModalLabel">Un momentito...</h2>
      </div>
      <div class="modal-body">
        <h4>Eres mayor de 18 años?</h4>
        <button id="cookieModalConsent" type="button" class="btn btn-success btn-sm btn-block" data-dismiss="modal">Si,
          y quiero birra</button>
      </div>
      <div class="modal-footer">
        <a id="No" type="button" class="btn btn-danger btn-sm btn-block" href="https://www.disney.com">No</a>
      </div>
    </div>
  </div>
</div>