<div class="col-12 col-sm-6 col-md-4">
  <div class="card">
    <img src="{{ include.pEl.thumbnail }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ include.pEl.title }}</h5>
      <p class="card-text">{{ include.pEl.excerpt }}</p>
      <p class="card-text"><small class="text-muted">{{ include.pEl.date}}</small></p>
    </div>
    <div class="card-footer text-center">
      <a href="{{ include.pEl.url }}" class="btn btn-lg btn-warning"> Leer</a>
    </div>
  </div>
</div>