<!-- METE ESTO EN INCLUDE -->

<div class="container py-4">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="description mb-0 strong-700">Tu tienda online a domicilio</h4>
      <p class="text-white strong-700">Con +50 cervezas en stock</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-3">
      <a href="/tienda/en_botella.html">

        <div class="image-wrapper-secciones-random">
          <picture>
            <source data-srcset="/assets/images/processed/botellas.jpg" media="(min-width: 1200px)" />
            <source data-srcset="/assets/images/processed/botellas.jpg" media="(min-width: 600px)" />
            <img data-src="/assets/images/processed/botellas.jpg" class="card-img-top lazy  rounded" />
          </picture>
        </div>
        <h4 class="description strong-700 text-center">En Botella</h4>
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="/tienda/en_lata.html">
        <div class="image-wrapper-secciones-random">
          <picture>
            <source data-srcset="/assets/images/processed/latas.jpg" media="(min-width: 1200px)" />
            <source data-srcset="/assets/images/processed/latas.jpg" media="(min-width: 600px)" />
            <img data-src="/assets/images/processed/latas.jpg" class="card-img-top lazy  rounded" />
          </picture>
        </div>
        <h4 class="description strong-700 text-center">En Lata</h4>
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="/tienda/cervezas_economicas.html">
        <div class="image-wrapper-secciones-random">
          <picture>
            <source data-srcset="/assets/images/processed/menos_30.jpg" media="(min-width: 1200px)" />
            <source data-srcset="/assets/images/processed/menos_30.jpg" media="(min-width: 600px)" />
            <img data-src="/assets/images/processed/menos_30.jpg" class="card-img-top lazy  rounded" />
          </picture>
        </div>
        <h4 class="description strong-700 text-center">Casi 3€</h4>
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="/tienda/de_aqui.html">
        <div class="image-wrapper-secciones-random">
          <picture>
            <source data-srcset="/assets/images/processed/jerez.jpg" media="(min-width: 1200px)" />
            <source data-srcset="/assets/images/processed/jerez.jpg" media="(min-width: 600px)" />
            <img data-src="/assets/images/processed/jerez.jpg" class="card-img-top lazy  rounded" />
          </picture>
        </div>
        <h4 class="description strong-700 text-center">De Aquí</h4>
      </a>
    </div>


  </div>
</div>
<!-- METE ESTO EN INCLUDE -->