<link rel="prefetch stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="prefetch stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="prefetch stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<link rel="prefetch stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link rel="prefetch stylesheet" href="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.css" />

{% if site.development == true %}
<link rel="stylesheet" href="/assets/css/site.css">
{% else %}
<link rel="stylesheet" href="{{site.url}}/assets/css/site.css">
{% endif %}




<!--/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  

}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
}
-->