html  {font-size: min(max(16px, 4vw), 22px);}
body {
  // background-color: #F2B739;
  // padding-top: 100px; 
  font-size: 1rem;
  // background-color: #F2B739; 
}

.logo-lupulo {
  max-height: 80px;
  background-color: #f2c02b;
  border-radius: 5px;
  padding: 2px;
}

.navbar .navbar-brand {
  padding: 0 15px;
}

.current {
  color: green;
}

// nav - birras

// Index
.main-jumbo {
  // background: url(#{$baseImgUrl}/icon-pattern-bg-mobile.webp);
  background: url(https://i.imgur.com/zfF873q.png);
  background-size: cover;
  // remove in mobile?
  // padding: 85px 0;
  border-radius: 0;
}
// Cervezas Polluas section
section.cervezas-polluas {
  background: white;
  h2{ position: relative; }
} 

// !Cervezas Polluas
.cerveza-thumb {
  max-height: 453px;
}

.como-funciona{
  //CHECK MOBILE. THERES A MOBILE VERSION
  background: url("https://labodegadellupulo.s3.eu-west-3.amazonaws.com/svg/wave-birra1.svg") no-repeat;
  background-color: rgba($color: #f2c02b, $alpha: 0.6);
  // background-size: cover;
  // background-attachment: fixed; 
}


  .como-funciona>.container {
    // margin-top: 12px;
  }

.swosh {
  position: relative;
  //CAMBIA EN MOBIL
  height: 340px;
  overflow: visible;
  // Fix this in mobile
  margin-bottom: -150px;
  svg {
    position: absolute;
    top: -60px;
    
  }
  h2 {
    position: relative;
    bottom: 110px;
    z-index: 1;
    padding-left: 5%;
    top: 50%;
  }
}
// .separador {
//   position: relative;
//   height: 300px;
//   background-image: linear-gradient(#ff9d2f, #ff6126);
//   svg {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 10vw;
//     /* set height to pixels if you want angle to change with screen width */
//   }
// }

// Generic
.shadow {
  box-shadow: 4px 4px 14px 0 rgba(0,0,0,0.2);
}


// Construction
.logo {
  // max-width: 30%;
  max-width: 80%;
  padding: 0.4em;
  padding-bottom: 1.5em;
  background: white;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .logo {
      max-width: 30%;
      padding: 0.4em;
      padding-bottom: 1.5em;
      background: white;
    }
}

.btn-toolbar {
  // Center override
  justify-content: center;
}


.snipcart-modal__container { top: 50px; }


// .title-font{
//   font-family: 'Merriweather', serif;
// }


.white-bg {
  background-color: #ffffff;
}



// @media screen and (min-width:1200px) {
//   body { font-size:110%; } /* Increase the font size */
// }
// @media screen and (min-width:1400px) {
//   html { padding:0 15%; } /* Reduce the container width */
// }
// @media screen and (min-width:1600px) {
//   body { font-size:125%; } /* Increase the font size */
// }
// @media screen and (min-width:1800px) {
//   html { padding:0 20%; } /* Reduce the container width */
// }

// Fonts base

// Creative Tim rewrite
p {
  font-size: 1.2rem!important;
  line-height: 1.6em!important;;
  margin-bottom: 5px!important;;
}


span.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}