<!-- homeJSONLD -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LiquorStore",
    "name": "La Bodega del Lupulo | Compra Cerveza Online | Jerez de la Frontera (Cadiz)",
    "image": "https://labodegadellupulo.s3.eu-west-3.amazonaws.com/catalogo/img/logo/logo-lupulo-color.png",
    "@id": "https://labodegadellupulo.s3.eu-west-3.amazonaws.com/catalogo/img/logo/logo-lupulo-color.png",
    "url": "https://labodegadellupulo.s3.eu-west-3.amazonaws.com/catalogo/img/logo/logo-lupulo-color.png",
    "telephone": "650 491 606",
    "priceRange": "$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Calle San Cayetano, 2",
      "addressLocality": "Jerez de la Frontera",
      "postalCode": "11402",
      "addressCountry": "ES"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 36.6880257,
      "longitude": -6.1354269
    },
    "openingHoursSpecification": [{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Monday"
      ],
      "opens": "11:00",
      "closes": "15:00"
    },{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "11:00",
      "closes": "15:00"
    },{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "opens": "18:00",
      "closes": "22:00"
    }],
    "sameAs": [
      "https://www.instagram.com/la_bodega_del_lupulo/",
      "https://www.facebook.com/LaBodegaDelLupulo"
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "La Bodega del Lupulo",
    "url": "labodegadellupulo.com"
  }
  </script>