.birra-title {
  color: #705448;
}

.strong-700 {
  font-weight: 700;
}

.birra-imagen-producto-wrapper {
  object-fit: contain;
}

.stat-item {
  color: #fff;
  border-radius: 50%;
  max-width: 68px;
  max-height: 68px;
  line-height: 68px;
  font-size: 24px;
  /* font-weight: 700; */
  margin: 0 auto;
  margin-bottom: 14px;
  background-color: #705448;
}