---
layout: default
---


<div class="container-fluid bg-white pt-5 pb-3 text-center">
  <h1 class="text-center mb-2 birra-text">{{ page.title }}</h1>
  <!-- pon en inlcude -->
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a class="" href="/">Home</a>
  {% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
  / <span class="strong-700">{{ page.title }}</span>
  {% else %}
  / <a
    href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
  {% endif %}
  {% endfor %}
  <!-- pon en inlcude -->


</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4 text-center">

      <div class="birra-imagen-producto-wrapper">
        <picture>
          <source data-srcset="{{ site.baseimageurl }}desktop/{{page.imagen}} w300" media="(min-width: 1200px)" />
          <source data-srcset="{{ site.baseimageurl }}desktop/{{page.imagen}}" media="(min-width: 600px)" />
          <img data-src="{{ site.baseimageurl }}mobile/{{page.imagen}}" class="lazy rounded img-thumbnail" />
        </picture>
      </div>

    </div>
    <div class="col-12 col-md-6 mt-3 text-center">
      {% include birra_stat.html el=page %}
      {% include btn_compra_birra.html b=page %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      {{ content }}

    </div>
  </div>
</div>

<style>
  a:hover {
    color: #212529;
  }

  a:hover {
    text-decoration: none;
  }

  .block {
    /* height: 350px; */
    height: auto;
    background: rgba(86, 61, 124, .15);
    margin-bottom: 30px;
  }

  .label {
    font-size: .85rem;
    font-weight: bold;
  }
</style>