<!DOCTYPE html>
<html lang="en">

{% include header_js.html %}

<body>
  {% include nav.html %}
  <main role="main">

    <!--  -->

    <!--  -->


    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="{{page.imagen}}" class="img-responsive" alt="">
        </div>
        <div class="col-8">
          <p>Magna ea deserunt elit voluptate. Quis voluptate exercitation velit eiusmod sint. Ullamco irure quis aute
            enim magna occaecat aliqua.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          lipsyum
        </div>
      </div>
    </div>



    <!-- <div class="shopping-info"> -->
    <!-- <span class="snipcart-items-count"></span>
      <span class="snipcart-total-price"></span> -->
    <!-- </div> -->


    <!-- <div class="product">
      <div class="product__information">
        <h2 class="product__title">{{ page.name }}</h2>
        <p class="product__description">{{ page.content | remove: '<p>' | remove: '</p>' }}</p>
       {# include btn_compra_birra.html b=page #}
      </div>
      <img src="{{ page.image }}" alt="{{ page.name }} product image" class="product__image img-responsive">
    </div> -->

  </main>

  <div id="snipcart" data-api-key="YzU3MzhiOWYtNWE3My00ZjI4LWI0M2EtNDY0NDY0ODMwYTc4NjM3MjA5ODYyMTg5MDMxNjY4" hidden>
  </div>
</body>
{% include js_scripts.html %}

</html>