---
layout: default
---
{% include tipos_cerveza.html %}
<div class="container-fluid text-center bg-white pt-5 pb-3">
  <h1 class="text-center mb-2 birra-text">{{ page.title }}</h1>
  <!-- pon en inlcude -->
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a class="" href="/">Home</a>
  {% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
  / <span class="strong-700">{{ page.title }}</span>
  {% else %}
  / <a
    href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
  {% endif %}
  {% endfor %}
  <!-- pon en inlcude -->

</div>
<div class="container">

  <div class="row pt-3 d-block d-sm-none text-center" id="dropdown-categorias">

    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categorias
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for tipo in site.data.tipos_cerveza %}
        <a class="dropdown-item" href="/tienda/{{ tipo.link }}">{{ tipo.name}}</a>
        {% endfor %}
      </div>
    </div>

    <hr>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 mt-2 mb-4">
      {% include search.html%}
    </div>
  </div>


  <div class="row">
    {{ content}}
  </div>

</div>
<!-- Script pointing to search-script.js -->
<script src="/assets/js/search-script.js" type="text/javascript"></script>
<style type="text/css">
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
    font-family: 'Mukta', sans-serif;
  }

  p {
    max-width: 72ch;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
    font-family: 'Mukta', sans-serif;
  }
</style>
<script src="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.js" defer></script>